@import './css/normalize.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Color Palette */
:root {
  --color-primary: #f0a04b;
  --color-primary-lighter: #f8f1cc;
  --color-secondary: #183a1d;
  --color-secondary-lighter: #e1eedd;
  --color-background: #fefbe9;
}

/* Typography */
body {
  background: var(--color-background);
  color: var(--color-secondary);
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  margin-top: 3.2rem;
}

h1,
h2 {
  color: var(--color-primary);
  /* margin-bottom: 0.6rem;
  margin-top: 1.4rem; */
  margin: 0;
}

h1 {
  font-size: 1.602rem;
}

h2 {
  font-size: 1.202rem;
}

p {
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 1.702rem;
  }

  h2 {
    font-size: 1.502rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/* Btn */
.btn {
  background: var(--color-background);
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1.2px;
  outline: 0;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;
}

.btn--outline {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn--outline:hover {
  background: var(--color-secondary);
  color: var(--color-background);
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-background);
}

.btn--secondary:hover {
  background: #22552a;
}

.btn--primary {
  border: 1px solid var(--color-primary);
}

.btn--primary:hover {
  background: var(--color-primary);
  color: var(--color-background);
}

.btn--stretched {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

/* Media */
.media {
  display: flex;
}

.media__image {
  border-radius: 100%;
  height: 4rem;
  margin-right: 0.5rem;
  width: 4rem;
}

.media__title {
  font-size: 1.1rem;
  margin: 0;
}

.media__content {
  font-size: 0.9rem;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .media__image {
    height: 3rem;
    width: 3rem;
  }

  .media__title {
    font-size: 1rem;
    white-space: nowrap;
  }

  .media__content {
    font-size: 0.8rem;
  }
}

/* Container */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Grids */
.grid {
  display: grid;
  gap: 0 0.7rem;
}

.grid--1x2 {
  grid-template-columns: 70% 1fr;
}

/* Gadgets */
.gadget {
  background: var(--color-secondary-lighter);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #ccc;
  padding: 0.6rem;
}

.gadget__heading {
  margin: 0 0 0.3rem 0;
}

.gadget .media__image {
  width: 2.7rem;
  height: 2.7rem;
}

.gadget .media__title {
  font-size: 0.8rem;
}

.gadget .media__content {
  font-size: 0.7rem;
}

/* Page Header */
.page__header {
  align-items: center;
  background: #f8f1cc;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  padding: 0 0.3rem;
  position: fixed;
  z-index: 1;
}

.page__title {
  margin: 0;
}

.page__icon {
  color: var(--color-primary);
}

/* Lists */
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation */
.nav {
  background: var(--color-primary-lighter);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  font-size: 1rem;
  justify-content: space-between;
  left: 0;
  padding: 0.2rem 0.1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav__menu {
  cursor: pointer;
}

.nav__links {
  width: 100%;
}

.nav__link {
  align-items: center;
  border-bottom: 1px solid #e9be90; /* TODO: Consider refactoring this solor */
  display: flex;
  width: 100%;
}

.nav__link:hover {
  background: #e9be90;
}

.nav__link.active {
  font-weight: 900;
}

.nav__link.active .nav__icon {
  opacity: 1;
}

.nav__icon {
  opacity: 0.8;
  margin-right: 0.2rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .nav {
    align-items: center;
    padding: 0.5rem 0.1rem;
  }

  .nav__menu {
    display: none;
  }

  .nav__link {
    margin: 0.5rem;
    border: 0;
  }

  .nav__links {
    width: auto;
    display: flex;
  }

  .nav__icon {
    display: none;
  }

  .nav__links.collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }

  .nav__link {
    margin-bottom: 0;
    margin-top: 0;
    transition: all 0.3s;
  }

  .nav__link:hover {
    text-decoration: underline;
    background: none;
  }
}
