@import './css/normalize.css';

:root {
  --color-primary: #f0a04b;
  --color-secondary: #183a1d;
  --color-secondary-lighter: #e1eedd;
}

body {
  background: #fefbe9;
  color: var(--color-secondary);
}

h1,
h2,
h3 {
  color: #f6c453;
}
